
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Feather -->
<script src="/js/feather.min.js"></script>
<script>feather.replace()</script>
<!-- Below is the implimnetation of socket -->
<!-- <script src="/js/socket.io.js"></script>
<script src="/js/sockets-server.js"></script> -->
</body>
</html>