<% include partials/header %>

<!-- Content -->
<div class="container">
    <div class="row">

        <div class="col-sm-12 title-row">
            <h1>Tables</h1>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Table 1</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Table 2</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Table 3</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Table 4</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Table 5</h3>
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Table 6</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="offset-lg-2 col-md-12 col-lg-8" style="margin-bottom: 25px">
            <button type="submit" class="btn btn-primary btn-block">Start/Edit order for Selected Table</button>
        </div>
    </div>

    <div class="row">
        <div class="offset-lg-2 col-sm-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                        <div class="card-title">
                        
                        <h3>Menu/Edit for Table 1</h3>
                        <hr>

                        <form action="waiter.js">
                            <label class="col-sm-7 col-xs-5">Item name</label>
                            <button type="submit" class="btn col-sm-1"><i data-feather="plus"></i></button>
                            <label class="col-sm-2 col-xs-1">0</label>
                            <button type="submit" class="btn col-sm-1"><i data-feather="minus"></i></button>

                            <label class="col-sm-7">Item name</label>
                            <button type="submit" class="btn col-sm-1"><i data-feather="plus"></i></button>
                            <label class="col-sm-2">0</label>
                            <button type="submit" class="btn col-sm-1"><i data-feather="minus"></i></button>

                            <hr>
                            <button type="submit" class="btn btn-primary btn-block col-sm-12">Submit</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- row -->
</div> <!-- containter-->

<% include partials/footer %>